body {
    background-color: #eee;
}

.wrapper {
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

#gallery_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
    height: 600px;
    border: 2px dashed rgb(0, 156, 228);
    padding: 10px;

    background-color: white;
}

#gallery_container {
    width: 0px;
    height: 0px;
    /* 원하는 갤러리의 최대 너비 */
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    /* 갤러리 너비 변경에 트랜지션 적용 */
}

#gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: gray;
    color: white;
}


#todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
    height: 600px;
    border: 2px dashed rgb(0, 156, 228);
    overflow-y: auto;
    /* 스크롤이 필요할 때만 스크롤 표시 */
    padding: 10px;

    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 500px;
    border-bottom: 1px solid #ccc;
}

#todoList button {
    width: 50px;
    height: 30px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
}

#todoList button:hover {
    background-color: #000;
    color: #fff;
}

#todoList button:active {
    background-color: #ccc;
    color: #fff;
}

#todoInput {
    width: 400px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px;
    margin: 0px;
}

#addTodoBtn {
    width: 100px;
    height: 43px;
    border-radius: 5px;
    margin: 0px;
    margin-left: 30px;
    padding: 3px;
}

#todoIn {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}